body {
  margin: 100px;
}

.header_title {
  font-family: "Merriweather";
  font-size: 32px;
}

.nav {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 168px;
}

.nav_links {
  display: flex;
  list-style-type: none;
}

.nav_links li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  margin-right: 16px;
  padding: 16px;
}
.nav_links li:nth-child(2) {
  background-color: #849fff;
  padding: 16px;
  border-radius: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  overflow: hidden;
  height: 64px; /* Same height as the input */
  width: 327px; /* Matches your input width */
}

#search {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  font-family: "Poppins", sans-serif;
  height: 100%; /* Matches parent height */
}

button {
  background-color: transparent;
  border: none;
}
/* .users {
  display: flex;
  justify-content: space-between;
}
.users_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
.users_list p {
  color: #516fd4;
  border: 1px solid #bfc8e6;
  border-radius: 50px;
} */
.users_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users_list li {
  height: 327px;
  width: 208px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(81, 111, 212, 0.04);
}

.users_list p {
  color: #516fd4;
  border: 1px solid #151b32;
  border-radius: 50px;
  padding: 5px 10px;
}

.users_list img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
